@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@model ConfirmRegulatedStandardViewModel

@{
    ViewBag.Title = "Regulated standard";
}
<a class="govuk-back-link" href="@Model.BackLink">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_validationSummaryPartial" model="ViewData.ModelState" />
            <div class="govuk-caption-xl">Check your record</div>
            <h1 class="govuk-heading-xl">This is a regulated standard</h1>
            <form method="post" asp-route="@RouteNames.PostConfirmRegulatedStandard" enctype="multipart/form-data" novalidate>
                <input type="hidden" asp-for="RegulatorName" />
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <table class="govuk-table" aria-describedby="ContactDetails">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col" colspan="2"> </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <span class="app-task-list__task-name">
                                            <strong>
                                                Regulator
                                            </strong>
                                        </span>
                                    </td>
                                    <td class="govuk-table__cell">
                                        @Model.RegulatorName
                                    </td>
                                    <td class="govuk-table__cell">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="govuk-form-group" esfa-validation-marker-for="IsApprovedByRegulator">
                            <span class="govuk-error-message" asp-validation-for="IsApprovedByRegulator"></span>
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h2 class="govuk-fieldset__heading">
                                        Have you been approved by the regulator to deliver this standard?
                                    </h2>
                                </legend>
                                <div class="govuk-radios">

                                    <div class="govuk-radios__item">

                                        <input class="govuk-radios__input" id="ConfirmRegulatedStandard-Yes"
                                               name="ConfirmRegulatedStandard" type="radio" value="true" @(Model.IsApprovedByRegulator.HasValue && Model.IsApprovedByRegulator.Value ? "checked='checked'" : "")
                                               asp-for="IsApprovedByRegulator" sfa-validationerror-class="form-control-error">
                                        <label class="govuk-label govuk-radios__label" for="ConfirmRegulatedStandard-Yes">
                                            Yes
                                        </label>

                                    </div>

                                    <div class="govuk-radios__item">

                                        <input class="govuk-radios__input" id="ConfirmRegulatedStandard-No"
                                               name="ConfirmRegulatedStandard" type="radio" value="false" @(Model.IsApprovedByRegulator.HasValue && !Model.IsApprovedByRegulator.Value ? "checked='checked'" : "")
                                               asp-for="IsApprovedByRegulator" sfa-validationerror-class="form-control-error">
                                        <label class="govuk-label govuk-radios__label" for="ConfirmRegulatedStandard-No">
                                            No
                                        </label>

                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <br />
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    What is a regulated standard?
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                This means there is a regulator that is responsible for this standard, and you must be approved by them to deliver it.
                            </div>
                            <div class="govuk-details__text">
                                Not having the regulator’s approval will invalidate the training you give your apprentices. They will also not be accepted for assessment.
                            </div>
                            <div class="govuk-details__text">
                                <a href="https://www.instituteforapprenticeships.org/developing-new-apprenticeships/statutory-regulated-occupations/" aria-describedby="Read-more-on-the-role-of-the-regulator" class="govuk-link" target="_blank" rel="noreferrer noopener">
                                    Read more on the role of the regulator
                                </a>  in certain occupations.
                            </div>
                        </details>
                    </div>
                </div>
                <div class="govuk-button-group">
                    <button id="SaveAndContinue" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                        Save and continue
                    </button>
                    <a id="cancel" href="@Model.CancelLink" class="govuk-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</main>