@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@model StandardListViewModel
@{
    ViewBag.Title = "Standards";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackLink">Back</a>
}
@if (Model.ShowNotificationBanner)
{
    <partial name="~/Views/Standards/StandardsPartials/_StandardDeleteNotificationBanner.cshtml" />
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="govuk-heading-xl" id="header-standards">Manage the standards you deliver</h1>
        <p class="govuk-body">Check your standards are correct and add any missing information. Add any standards that you deliver that are not on the list.</p>
        <p class="govuk-body">These details are what the employers see on Find apprenticeship training. It is important that you come back and make updates when they change.</p>
        <table class="govuk-table" aria-labelledby="header-standards">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header das-table-cell-width-60" scope="col"> Standard</th>
                    <th class="govuk-table__header das-table-cell-width-30" scope="col"> <span class="govuk-visually-hidden">Approval status</span> </th>
                    <th class="govuk-table__header govuk-table__header--numeric das-table-cell-width-10" scope="col"> Version</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var standard in Model.Standards)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="@standard.StandardUrl">
                                @standard.CourseDisplayName
                            </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            @if (standard.IsApprovalPending)
                            {
                                <a class="govuk-link" href="@standard.ConfirmRegulatedStandardUrl">Regulator's approval needed<span class="govuk-visually-hidden"> for @standard.CourseDisplayName</span></a>
                            }
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            @standard.Version
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="govuk-body">
            <a href="@Model.AddAStandardLink" class="govuk-link">
                Add a standard
            </a>
        </p>
    </div>
</div>