@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@model StandardDetailsViewModel
@{
    ViewBag.Title = "Standard details";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}

@if (Model.StandardRequiresMoreInfo)
{
    <partial name="~/Views/Standards/StandardsPartials/_MissingInfoBanner.cshtml" for="MissingInfoBannerViewModel" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-caption-xl">Manage a standard</div>
        <partial name="_StandardInformation" for="StandardInformation" />
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_StandardContactInformation" for="ContactInformation" />
        <p class="govuk-body">
            <a href="@Model.EditContactDetailsUrl" class="govuk-link">
                Update these contact details
            </a>
        </p>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8" asp-show="@Model.StandardInformation.IsRegulatedForProvider">
    <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l" id="table-header-regulation">Regulatory Approval</h2>
            <p class="govuk-body">This is a regulated standard. Tell us if you are approved by the regulating body to deliver it.</p>
            <table class="govuk-table" aria-labelledby="table-header-regulation">
                <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header das-table-cell-width-30" scope="row">
                    Regulator
                </th>
                <td class="govuk-table__cell das-table-cell-width-50">
                    @Model.StandardInformation.RegulatorName
                </td>
                <td class="govuk-table__cell das-table-cell-width-20">
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">
                    Approved
                </th>
                <td class="govuk-table__cell">
                    @Model.ApprovedByRegulatorStatus()
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                    <a href="@Model.ConfirmRegulatedStandardUrl" class="govuk-link">
                        Change<span class="govuk-visually-hidden"> the regulated information</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <partial name="~/Views/Standards/StandardsPartials/_RegulatedStandardInfo.cshtml"/>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table" aria-label="Where you deliver this standard">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header das-table-cell-width-80" scope="col">
                        <h2 class="govuk-heading-l">
                            Training options
                        </h2>
                    </th>
                    <th class="govuk-table__header das-table-cell-width-20" scope="col">
                        <span class="govuk-visually-hidden">Action</span>
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        @Html.Raw(Model.LocationSummary)
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a href="@Model.EditLocationOptionUrl" class="govuk-link govuk-link--no-visited-state">
                            Change<span class="govuk-visually-hidden"> where you deliver this standard</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        @if (Model.ProviderCourseLocations.Any())
        {
            <table class="govuk-table" aria-label="List of training locations">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header das-table-cell-width-50" scope="col"> Venue name </th>
                        <th class="govuk-table__header das-table-cell-width-50" scope="col"> Delivery method</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var location in Model.ProviderCourseLocations)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                @location.LocationName
                            </td>
                            <td class="govuk-table__cell">
                                @location.DeliveryMethod.ToSummary()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p class="govuk-body govuk-!-margin-bottom-8">
                <a href="@Model.EditTrainingLocationsUrl" class="govuk-link govuk-link--no-visited-state">Edit training locations</a>
            </p>
        }

        @if (Model.SubRegionCourseLocations.Any())
        {
            <p class="govuk-body">
                Training can be delivered on site at the employer's address, as long as they are within these regions:
            </p>

            foreach (var region in Model.Regions())
            {
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m">@region.Key</h3>
                <ul class="govuk-list govuk-grid-row">
                    @foreach (var location in region.OrderBy(x => x.SubregionName))
                    {
                        <li class="govuk-grid-column-one-half">
                            @location.SubregionName
                        </li>
                    }
                </ul>
            }
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">

                <a href="@Model.EditProviderCourseRegionsUrl" class="govuk-link govuk-link--no-visited-state">
                    Edit these regions
                </a>
            </p>
        }
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="das-highlight">
            <h2 class="govuk-heading-m">Actions</h2>
            <ul class="govuk-list govuk-!-margin-bottom-0">
                <li><a href="@Model.DeleteStandardUrl" class="govuk-link govuk-link--no-visited-state">Delete standard</a> </li>
            </ul>
        </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-8">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body">
            <a href="@Model.BackUrl" class="govuk-link govuk-link--no-visited-state">
                Back to manage your standards
            </a>
        </p>
    </div>
</div>