@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@using SFA.DAS.Roatp.CourseManagement.Web.Infrastructure
@using SFA.DAS.Roatp.CourseManagement.Domain.ApiModels
@using SFA.DAS.Roatp.CourseManagement.Application.Constants
@model StandardDetailsViewModel
@{
    ViewBag.Title = "Standards";

}
<a class="govuk-back-link" href="@Model.BackUrl">Back</a>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-caption-xl">Check your record</div>
        <h1 class="govuk-heading-xl">@Model.CourseDisplayName</h1>

        <table class="govuk-table" aria-describedby="StandardDetails">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" colspan="2"> </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                IFATE Reference
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        @Model.IFateReferenceNumber
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                Version
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        @Model.Version
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                Sector
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        @Model.Sector
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                LARS code
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        @Model.LarsCode
                    </td>
                </tr>
                @if (Model.IsStandardRegulated)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span class="app-task-list__task-name">
                                <strong>
                                    Regulator
                                </strong>
                            </span>
                        </td>
                        <td class="govuk-table__cell">
                            @Model.RegulatorName
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <br />
        <br />
        <button class="govuk-button" data-module="govuk-button" data-disable-on-submit="true" style="display: none; visibility: hidden">Save and continue</button>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="govuk-heading-l">Information that is specific for this standard</h2>
        <h3 class="govuk-heading-m">Contact details</h3>
        <p class="govuk-body">If there is a specific person or team that should be contacted for this standard, update these contact details.</p>

        <table class="govuk-table" aria-describedby="ContactDetails">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" colspan="2"> </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                Email address
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        @Model.ContactUsEmail
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                Telephone number
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        @Model.ContactUsPhoneNumber
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                Contact page link
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        @Model.ContactUsPageUrl
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                Website page
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        @Model.StandardInfoUrl
                    </td>
                </tr>
            </tbody>
        </table>

        <br />
        <br />
        <span class="app-task-list__task-name" style="display: none; visibility: hidden">
            <a href="#" aria-describedby="Update-contact-details" class="govuk-link">
                Update these contact details
            </a>
        </span>
    </div>
</div>
<div class="grid-row" style="display:@(Model.IsStandardRegulated ?" display" :"none")">
    <div class="column-two-thirds">
        <h3 class="govuk-heading-m">Regulation</h3>
        <p class="govuk-body">This is a regulated standard. Tell us if you are approved by the regulating body to deliver it.</p>

        <table class="govuk-table" aria-describedby="ContactDetails">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" colspan="3"> </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                Regulator
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        @Model.RegulatorName
                    </td>
                    <td class="govuk-table__cell">
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                Approved
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        Unknown
                    </td>
                    <td class="govuk-table__cell">
                        <a href="#" aria-describedby="change-approved-regulator" class="govuk-link">
                            Change
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What is a regulated standard?
                </span>
            </summary>
            <div class="govuk-details__text">
                This means there is a regulator that is responsible for this standard, and you must be approved by them to deliver it.
            </div>
            <div class="govuk-details__text">
                Not having the regulator’s approval will invalidate the training you give your apprentices. They will also not be accepted for assessment.
            </div>
            <div class="govuk-details__text">
                <a href="https://www.instituteforapprenticeships.org/developing-new-apprenticeships/statutory-regulated-occupations/" aria-describedby="Read-more-on-the-role-of-the-regulator" class="govuk-link" target="_blank" rel="noreferrer noopener">
                    Read more on the role of the regulator
                </a>  in certain occupations.
            </div>
        </details>
    </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h3 class="govuk-heading-m">Where you deliver this standard</h3>
            <table class="govuk-table" aria-describedby="ContactDetails">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" colspan="2"> </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @{
                                switch (Model.LocationSummary())
                                {
                                    case (WhereIsStandardDelivered.NationalOnly):
                                        @Html.Raw("This standard is only delivered at an employer's address anywhere in England.");
                                        break;
                                    case (WhereIsStandardDelivered.ProvidersOnly):
                                        @Html.Raw("This standard is only delivered at your training locations.");
                                        break;
                                    case (WhereIsStandardDelivered.SubregionsOnly):
                                        @Html.Raw("This standard is only delivered at an employer's address.");
                                        break;
                                    case (WhereIsStandardDelivered.ProvidersAndNational):
                                        @Html.Raw("This standard can be delivered at both training sites and employer addresses anywhere in England.");
                                        break;
                                    case (WhereIsStandardDelivered.ProviersAndSubregions):
                                        @Html.Raw("This standard can be delivered at both training sites and employer addresses within certain regions.");
                                        break;
                                }
                            }
                        </td>
                        <td class="govuk-table__cell">
                            <a href="#" aria-describedby="Change-providerCourse-locations" class="govuk-link">
                                Change
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            @if (Model.ProviderCourseLocations.Any())
                                        {
                <table class="govuk-table" aria-describedby="providerCourse-locations">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"> Venue name </th>
                        <th class="govuk-table__header" scope="col"> Delivery method</th>
                        <th class="govuk-table__header" scope="col"> Flexi-job apprenticeship</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    @foreach (var location in Model.ProviderCourseLocations)
                                        {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <span class="app-task-list__task-name">
                                    @location.LocationName
                                </span>
                            </td>
                            <td class="govuk-table__cell">
                                <span class="app-task-list__task-name">
                                    @location.DeliveryOption()
                                </span>
                            </td>
                            <td class="govuk-table__cell">
                                <span class="app-task-list__task-name">
                                    @location.HasOffersPortableFlexiJob
                                </span>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
                                @if (Model.SubRegionCourseLocations.Any())
            {
                <div class="govuk-body">
                    Training can be delivered on site at the employer's address, as long as they are within these regions:
                </div>
                @foreach (var region in Model.Regions)
                {
                    <h3 class="govuk-heading-m">@region</h3>
                    <table class="govuk-table" aria-describedby="providerCourse-locations">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col"> Region </th>
                                <th class="govuk-table__header" scope="col"> Portable Flexi-Job Apprenticeship</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var location in Model.SubRegionCourseLocations.Where(x => x.RegionName == region))
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <span class="app-task-list__task-name">
                                            @location.LocationName
                                        </span>
                                    </td>
                                    <td class="govuk-table__cell">
                                        <span class="app-task-list__task-name">
                                            @location.HasOffersPortableFlexiJob
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
