@using SFA.DAS.Roatp.CourseManagement.Web.Models.AddTrainingLocation
@model ProviderLocationDetailsViewModel
@{
    ViewBag.Title = "Select an address";
    ViewBag.Description = "";
}
@section breadcrumb {
    <a href="@Model.BackLink" class="govuk-back-link">Back</a>
}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_validationSummary" />
            <div class="govuk-caption-xl">Add a training venue</div>
            <h1 class="govuk-heading-xl">Add venue name</h1>

            <form method="post" asp-route="@RouteNames.PostAddProviderLocationDetails" enctype="multipart/form-data" novalidate>
                <div esfa-validation-marker-for="LocationName" class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" asp-for="LocationName">
                        Venue name
                    </label>
                    <div id="LocationName-hint" class="govuk-hint">
                        Tell us the name of the venue where you deliver the training.
                    </div>
                    <span asp-validation-for="LocationName" class="govuk-error-message"></span>
                    <input asp-for="LocationName" id="LocationName" class="govuk-input" type="text" maxlength="50">
                </div>

                
                <h2 class="govuk-heading-m">
                    Address
                </h2>
                <p class="govuk-body">
                    <span>@Model.AddressLine1</span><br>
                    <span>@Model.AddressLine2</span><br>
                    <span>@Model.Town</span><br>
                    <span>@Model.Postcode</span>
                </p>

                <div class="govuk-button-group">
                    <button id="submit" type="submit" class="govuk-button">Confirm</button>
                    <a href="@Model.CancelLink" class="govuk-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>