@using SFA.DAS.Roatp.CourseManagement.Web.Models.ShortCourses.AddAShortCourse
@model ReviewShortCourseDetailsViewModel
@{
    ViewBag.Title = "Review short course details";

    var errors = ViewData.ModelState.Values
        .SelectMany(v => v.Errors)
        .Select(e => e.ErrorMessage)
        .Distinct()
        .ToList();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!ViewData.ModelState.IsValid)
        {   
            <div class="govuk-error-summary" role="alert" data-valmsg-summary="true" tabindex="-1">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @foreach (var error in errors)
                        {
                            <li class="govuk-error-message">@error</li>
                        }
                    </ul>
                </div>
            </div>
        }
        <div class="govuk-caption-l">Add an @Model.ApprenticeshipTypeLower</div>
        <partial name="_ShortCourseInformation" for="ShortCourseInformation" />

    </div>
</div>

<partial name="_ShortCourseContactInformation" for="ContactInformation" />

<partial name="_ShortCourseLocationInformation" for="LocationInformation" />

<form method="post" asp-route="@RouteNames.ReviewShortCourseDetails" enctype="multipart/form-data" novalidate>
    <div class="govuk-button-group">
        <button id="submit" type="submit" class="govuk-button">Save @Model.ApprenticeshipTypeLower</button>
        <a href="@Model.CancelLink" class="govuk-link">Cancel and return to dashboard</a>
    </div>
</form>