@using Humanizer
@using SFA.DAS.Roatp.CourseManagement.Web.Models.ShortCourses.AddAShortCourse
@using SFA.DAS.Roatp.CourseManagement.Web.Models.ShortCourses.Constants
@model SelectShortCourseLocationViewModel
@{
    ViewBag.Title = $"Where can you deliver this {Model.CourseType}".Humanize();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <div class="govuk-caption-l">Add an @Model.CourseType.Humanize(LetterCasing.LowerCase)</div>

        <form method="post" asp-route="@RouteNames.SelectShortCourseLocation" enctype="multipart/form-data" novalidate>

            <div esfa-validation-marker-for="ShortCourseLocations" class="govuk-form-group">
                <fieldset class="govuk-fieldset" id="ShortCourseLocations" aria-describedby="select-hint ShortCourseLocations-error">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                        <h1 class="govuk-fieldset__heading">
                            Where can you deliver this @Model.CourseType.Humanize(LetterCasing.LowerCase)?
                        </h1>
                    </legend>
                    <div id="select-hint" class="govuk-hint">
                        Select all that apply
                    </div>
                    <span asp-validation-for="ShortCourseLocations" id="ShortCourseLocations-error" class="govuk-error-message"></span>
                <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="ShortCourseLocations_ProviderLocation" name="ShortCourseLocations" type="checkbox" value="ProviderLocation" @(Model.ShortCourseLocations?.Contains(ShortCourseLocationOption.ProviderLocation) == true ? "checked" : "") />
                        <label class="govuk-label govuk-checkboxes__label" for="ShortCourseLocations_ProviderLocation">
                                At one of your training locations
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="ShortCourseLocations_EmployerLocation" name="ShortCourseLocations" type="checkbox" value="EmployerLocation" @(Model.ShortCourseLocations?.Contains(ShortCourseLocationOption.EmployerLocation) == true ? "checked" : "") />
                        <label class="govuk-label govuk-checkboxes__label" for="ShortCourseLocations_EmployerLocation">
                                At an employer's location
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="ShortCourseLocations_Online" name="ShortCourseLocations" type="checkbox" value="Online" @(Model.ShortCourseLocations?.Contains(ShortCourseLocationOption.Online) == true ? "checked" : "") />
                        <label class="govuk-label govuk-checkboxes__label" for="ShortCourseLocations_Online">
                                Online
                            </label>
                        </div>
                </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button id="submit" type="submit" class="govuk-button">Continue</button>
            </div>
        </form>
    </div>
</div>