@using Humanizer
@using SFA.DAS.DfESignIn.Auth.Extensions
@using SFA.DAS.Roatp.CourseManagement.Web.Models.ShortCourses
@using SFA.DAS.Roatp.CourseManagement.Web.Models.ShortCourses.AddAShortCourse
@model SelectShortCourseLocationOptionsViewModel
@{
    ViewBag.Title = $"Where can you deliver this {Model.CourseType}".Humanize();
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <div class="govuk-caption-l">Add an @Model.CourseType.Humanize(LetterCasing.LowerCase)</div>

        <form method="post" asp-route="@RouteNames.SelectShortCourseLocationOption" enctype="multipart/form-data" novalidate>

            <div esfa-validation-marker-for="SelectedLocationOptions" class="govuk-form-group">
                <fieldset class="govuk-fieldset" id="SelectedLocationOptions" aria-describedby="select-hint SelectedLocationOptions-error">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                        <h1 class="govuk-fieldset__heading">
                            Where can you deliver this @Model.CourseType.Humanize(LetterCasing.LowerCase)?
                        </h1>
                    </legend>
                    <div id="select-hint" class="govuk-hint">
                        Select all that apply
                    </div>
                    <span asp-validation-for="SelectedLocationOptions" id="SelectedLocationOptions-error" class="govuk-error-message"></span>
                <div class="govuk-checkboxes">
                        @foreach (var locationOption in @Model.LocationOptions)
                        {
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input locationOptions" id="LocationOptions-@locationOption" name="SelectedLocationOptions" type="checkbox" value="@locationOption.LocationOption" checked="@locationOption.IsSelected" />
                                <label class="govuk-label govuk-checkboxes__label" for="LocationOptions_ProviderLocation">
                                    @locationOption.LocationOption.GetDescription()
                                </label>
                            </div>
                        }                   
                </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button id="submit" type="submit" class="govuk-button">Continue</button>
            </div>
        </form>
    </div>
</div>