@using SFA.DAS.Roatp.CourseManagement.Web.Models.ProviderLocations
@using SFA.DAS.Roatp.CourseManagement.Web.Infrastructure
@model ProviderLocationListViewModel
@{
    ViewBag.Title = "Training locations";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-caption-xl">Check your record</div>
        <h1 class="govuk-heading-xl">Training locations</h1>
        <p class="govuk-body">It is important that we have an up to date list of where you deliver your training.</p>
        <p class="govuk-body">We have pre-filled the list with places that you entered previously in the course directory. Check they are still up to date, and add any new locations that are not present.</p>

        <table class="govuk-table" aria-label="List of training locations">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col"> Venue name</th>
                    <th class="govuk-table__header" scope="col"> Email address</th>
                    <th class="govuk-table__header" scope="col"> Telephone number</th>
                    <th class="govuk-table__header" scope="col"> Postcode</th>
                    <th class="govuk-table__header" scope="col"> </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var location in Model.ProviderLocations)
                {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">

                        @location.LocationName

                    </td>
                    <td class="govuk-table__cell">

                        @location.Email

                    </td>
                    <td class="govuk-table__cell">

                        @location.Phone

                    </td>
                    <td class="govuk-table__cell">

                        @location.Postcode

                    </td>
                    <td class="govuk-table__cell">

                        <a href="@location.RemoveUrl" class="govuk-link govuk-link--no-visited-state">
                            Remove
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <p class="govuk-body" style="display: none; visibility: hidden">
            <a href="#" class="govuk-link">
                Add a new training location
            </a>
        </p>
        <button class="govuk-button" data-module="govuk-button" data-disable-on-submit="true" style="display: none; visibility: hidden">Save and continue</button>
    </div>
</div>
