@using SFA.DAS.Roatp.CourseManagement.Web.Models.ProviderLocations
@using SFA.DAS.Roatp.CourseManagement.Web.Infrastructure
@model ProviderLocationViewModel
@{
    ViewBag.Title = "View training venue";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-caption-xl">Training venue</div>
        <h1 class="govuk-heading-xl">@Model.LocationName</h1>
            <h2 class="govuk-heading-m">
                Address
            </h2>
            <p class="govuk-body">
                <span>@Model.AddressLine1</span><br>
                <span>@Model.AddressLine2</span><br>
                <span>@Model.Town</span><br>
                <span>@Model.Postcode</span>
            </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">
            <a href="@Model.UpdateContactDetailsUrl" class="govuk-link">
                Change venue name
            </a>
        </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body">
            <a href="@Model.BackUrl" class="govuk-link">
                Back to training venues
            </a>
        </p>
    </div>
</div>
