@using SFA.DAS.Roatp.CourseManagement.Web.Models.ProviderLocations
@using SFA.DAS.Roatp.CourseManagement.Web.Infrastructure
@model ProviderLocationViewModel
@{
    ViewBag.Title = "View training venue";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-caption-l">Training venue</div>
        <h1 class="govuk-heading-xl margin-bottom-30">Venue details and training delivery</h1>


        <table class="govuk-table">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Venue name</th>
                <td class="govuk-table__cell">@Model.LocationName</td>
                    <td class="govuk-table__cell govuk-!-text-align-right">
                        <a href="@Model.UpdateContactDetailsUrl" class="govuk-link">
                        Change venue name
                    </a>

                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">
                    <p class="govuk-body">
                        @foreach (var addressLine in Model.AddressDetails)
                        {
                            <span>@addressLine</span><br/>
                        }
                    </p>
                </td>
                <td class="govuk-table__cell">&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Manage your training at this venue</h2>
        @if (!Model.HasCourses)
        {
            <p class="govuk-body">
                You currently do not deliver any training at this location. Go to <a href="@Model.ManageYourStandardsUrl">Manage courses</a> to add this venue to a new or existing type of training.
            </p>
        }
        else
        {
            <p class="govuk-body">
                Select a type of training to change its location, update its contact details or delete it.
            </p>

            <h3 asp-show="Model.ShowStandards" class="govuk-heading-m">Apprenticeships</h3>
            
            <partial name="_ProviderLocationCourseLinks" for="StandardLinks" />

            <h4 asp-show="Model.ShowApprenticeshipUnits" class="govuk-heading-m">Apprenticeship Units</h4>
            
            <partial name="_ProviderLocationCourseLinks" for="ApprenticeshipUnitLinks" />

        }
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-6">
    
    <div class="govuk-button-group">
        <a id="Continue" href="@Model.DeleteLocationUrl" class="govuk-button govuk-button--warning">Delete this venue</a>
        <a href="@Model.TrainingVenuesUrl" class="govuk-link">
            Back to training venues
        </a>
    </div>
</div>


        
