@model SFA.DAS.Roatp.CourseManagement.Web.Models.ProviderContact.AddProviderContactCompleteViewModel
@{
    var title = (Model.ShowStandards || Model.ShowApprenticeshipUnits) ? "Contact details saved and training types updated" : "Contact details saved";

    ViewBag.Title = @title;
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                @title
            </h1>
        </div>
        <p class="govuk-body" asp-show="@Model.ShowBoth">
            You have updated your contact details to <strong>@Model.EmailAddress</strong> and <strong>@Model.EmailAddress</strong>.
        </p>

        <p class="govuk-body" asp-show="@Model.ShowEmailOnly">
            You have updated your contact details to <strong>@Model.EmailAddress</strong>.
        </p>

        <p class="govuk-body" asp-show="@Model.ShowPhoneOnly">
            You have updated your contact details to <strong>@Model.PhoneNumber</strong>.
        </p>
        @if(Model.ShowStandards || Model.ShowApprenticeshipUnits)
        {
            <p class="govuk-body">
                We've updated contact details on Find apprenticeship training for these this training.
            </p>
        }    
        <div class="govuk-form-group" asp-show="Model.ShowStandards">
            <fieldset class="govuk-fieldset">
                <h2 class="govuk-heading-m">Apprenticeships</h2>
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var standardDetails in Model.CheckedStandards.OrderBy(x => x))
                    {
                        <li>@standardDetails</li>
                    }
                </ul>
            </fieldset>
        </div>
        <div class="govuk-form-group" asp-show="Model.ShowApprenticeshipUnits">
            <fieldset class="govuk-fieldset">
                <h3 class="govuk-heading-m">Apprenticeship units</h3>
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var apprenticeshipUnitDetails in Model.CheckedApprenticeshipUnits.OrderBy(x => x))
                    {
                        <li>@apprenticeshipUnitDetails</li>
                    }
                </ul>
            </fieldset>
        </div>
        <p class="govuk-body">
            We've also saved your details to use next time you add a training type. Go to <a href="@Model.ReviewYourDetailsUrl" class="govuk-link">Manage your standards</a> or <a href="@Model.ManageShortCoursesUrl" class="govuk-link">Manage your apprenticeship units</a> to change contact details for individual training types.
        </p>
    </div>
</div>