@{
    Layout = "_Layout.cshtml";
}

@RenderBody()

@section Styles
{
    @RenderSection("Styles", required: false)
    <link href="/css/app.css" rel="stylesheet" no-cdn />
}

@section breadcrumb
{
    @RenderSection("breadcrumb", required: false)
    @if (Model is IBackLink backlink)
    {
        if (string.IsNullOrWhiteSpace(@backlink.BackLink))
        {
            <a class="das-js-back-link">Back</a>
        }
        else
        {
            <a class="=govuk-back-link" href="@Model.BackUrl">Back</a>
        }
    }
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
    <script src="libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script src="/js/app.js" no-cdn></script>
}