@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@using SFA.DAS.DfESignIn.Auth.Extensions
@model StandardInformationViewModel

<h1 class="govuk-heading-xl">@Model.CourseDisplayName</h1>
<table class="govuk-table" aria-label="Standard details">
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th class="govuk-table__header das-table-cell-width-30" scope="row">
                IFATE Reference
            </th>
            <td class="govuk-table__cell das-table-cell-width-70">
                @Model.IfateReferenceNumber
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                Type
            </th>
            <td class="govuk-table__cell">
                @Model.ApprenticeshipType.GetDescription()
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                Sector
            </th>
            <td class="govuk-table__cell">
                @Model.Sector
            </td>
        </tr>
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
                LARS code
            </th>
            <td class="govuk-table__cell">
                @Model.LarsCode
            </td>
        </tr>
        @if (Model.IsStandardRegulated && Model.IsRegulatedForProvider)
        {
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">
                    Regulated by
                </th>
                <td class="govuk-table__cell">
                    @Model.RegulatorName
                </td>
            </tr>
        }
    </tbody>
</table>
