@using SFA.DAS.Roatp.CourseManagement.Web.Models.ProviderCourseLocations
@model ProviderCourseLocationAddViewModel
@{
    ViewBag.Title = "Training locations";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackLink">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <div class="govuk-caption-xl">Manage a standard</div>
        <h1 class="govuk-heading-xl">Venue and delivery</h1>
        <form method="post" asp-route="@RouteNames.PostAddProviderCourseLocation" enctype="multipart/form-data" novalidate>
            <input type="hidden" asp-for="@Model.BackLink" />
            <input type="hidden" asp-for="@Model.CancelLink" />

            <div esfa-validation-marker-for="TrainingVenueNavigationId" class="govuk-form-group">
                <label class="govuk-label" asp-for="TrainingVenues">
                    Select the training venue for this standard.
                </label>
                <span asp-validation-for="TrainingVenueNavigationId" class="govuk-error-message"></span>
                <select asp-for="TrainingVenueNavigationId" asp-items="@Model.TrainingVenues" class="govuk-select">
                    <option value="" disabled selected>Choose a venue</option>
                </select>
            </div>

            <div class="govuk-form-group" esfa-validation-marker-for="HasDayReleaseDeliveryOption">
                <fieldset class="govuk-fieldset" aria-describedby="DeliveryOption">
                    <legend class="govuk-fieldset__legend">
                        Select the delivery method
                    </legend>
                    <span asp-validation-for="HasDayReleaseDeliveryOption" class="govuk-error-message"></span>
                    <ul class="govuk-list govuk-grid-row">
                        <li class="govuk-grid-column-one-half">
                            <div class="govuk-checkboxes__item  govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="HasDayReleaseDeliveryOption" name="HasDayReleaseDeliveryOption" type="checkbox" value="true" asp-for="HasDayReleaseDeliveryOption">
                                <label class="govuk-label govuk-checkboxes__label" for="HasDayReleaseDeliveryOption" asp-for="HasDayReleaseDeliveryOption">
                                    Day release
                                </label>
                            </div>
                        </li>
                        <li class="govuk-grid-column-one-half">
                            <div class="govuk-checkboxes__item  govuk-checkboxes--small">
                                <input class="govuk-checkboxes__input" id="HasBlockReleaseDeliveryOption" name="HasBlockReleaseDeliveryOption" type="checkbox" value="true" asp-for="HasBlockReleaseDeliveryOption">
                                <label class="govuk-label govuk-checkboxes__label" for="HasBlockReleaseDeliveryOption" asp-for="HasBlockReleaseDeliveryOption">
                                    Block release
                                </label>
                            </div>
                        </li>
                    </ul>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button id="SaveAndContinue" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Save and continue
                </button>
                <a id="Cancel" href="@Model.CancelLink" class="govuk-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
