@using SFA.DAS.Roatp.CourseManagement.Web.Models.Standards
@model ProviderCourseLocationListViewModel
@{
    ViewBag.Title = "Training locations";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Model.BackUrl">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummaryPartial" model="ViewData.ModelState" />
        <div class="govuk-caption-xl">Manage a standard</div>
        <h1 class="govuk-heading-xl">Training locations</h1>
        <p class="govuk-body">Tell us where your organisation does the training for this standard.</p>
        <form method="post" asp-route="@RouteNames.PostProviderCourseLocations" enctype="multipart/form-data" novalidate>
            <input type="hidden" asp-for="@Model.BackUrl" />
            <input type="hidden" asp-for="@Model.CancelUrl" />
            <table class="govuk-table" aria-label="List of training locations">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header das-table-cell-width-50" scope="col"> Venue name </th>
                        <th class="govuk-table__header das-table-cell-width-50" scope="col"> Delivery method</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @for (int i = 0; i < Model.ProviderCourseLocations.Count; i++)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                @Model.ProviderCourseLocations[i].LocationName
                            </td>
                            <td class="govuk-table__cell">
                                @Model.ProviderCourseLocations[i].DeliveryOption()
                            </td>
                        </tr>
                    }
                    @*@foreach (var location in Model.ProviderCourseLocations)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    @location.LocationName
                    @Html.HiddenFor(modelItem => location.LocationName)
                </td>
                <td class="govuk-table__cell">
                    @location.DeliveryOption()
                </td>
            </tr>
        }*@
                </tbody>
            </table>
            <p class="govuk-body govuk-!-margin-bottom-8">
                <a href="#" class="govuk-link govuk-link--no-visited-state">Add training location</a>
            </p>
            <div class="govuk-button-group">
                <button id="SaveAndContinue" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    continue
                </button>
                <a id="Cancel" href="@Model.CancelUrl" class="govuk-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
